.suggestions_container {
  width: 325px;
  height: 290px;
  margin-top: 25px;
}
.suggestions_header {
  font-weight: bold;
  color: #ba691d;
}
.suggestions_body {
  height: 256px;
  width: 290px;
  margin-top: 10px;
}
.suggestions_friends {
  display: flex;
  padding: 5px 4px;
}
.suggestions_image {
  max-width: 35px;
  max-height: 35px;
  cursor: pointer;
}
.suggestions_username {
  font-weight: bold;
  margin: 10px;
  color: #ba691d;
}
.suggestions_username:hover {
  font-weight: bold;
  margin: 10px;
  color: #19c37d;
  cursor: pointer;
  transition-delay: 0.15s;
  transition-property: color;
}
