.post_container {
  width: 613px;
  background-color: #40414f;
  margin-top: 20px;
  border-radius: 20px;
  border: 1px solid #19c37d;
}
.post_header {
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  border-bottom: 1px solid #19c37d;
  cursor: pointer;
}
.post_image {
  min-height: 30px;
  min-width: 30px;
  margin: 10px;
}
.post_username {
  font-weight: bold;
  margin-top: 20px;
  color: #ba691d;
}

.post_username:hover {
  font-weight: bold;
  margin-top: 20px;
  color: #19c37d;
  cursor: pointer;
  transition-delay: 0.15s;
  transition-property: color;
}

.post_react_image {
  margin: 5px;
  color: #ba691d;
}

.post_react_image:hover {
  color: #19c37d;
  cursor: pointer;
  transition-delay: 0.15s;
  transition-property: color;
}

.post_comment {
  display: flex;
  margin: 10px;
  color: #ba691d;
}
.post_commentbox {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 56px;
  width: 601px;
  border-top: 1px solid #19c37d;
  border-bottom: 1px #19c37d;
  border-left: 1px #19c37d;
  border-right: 1px #19c37d;
  background-color: #202123;
  font-size: 16px;
  padding-left: 10px;
  color: #19c37d;
}
.post_likes {
  font-weight: bold;
  margin-left: 18px;
  color: #ba691d;
}

.post_likes:hover {
  font-weight: bold;
  margin-left: 18px;
  color: #19c37d;
  cursor: pointer;
  transition-delay: 0.15s;
  transition-property: color;
}

.post_comment_user {
  font-weight: bold;
  color: #ba691d;
}

.post_comment_user:hover {
  font-weight: bold;
  color: #19c37d;
  cursor: pointer;
  transition-delay: 0.15s;
  transition-property: color;
}
